/* ==========================================================================
    サマーキャンプ 共通 カレンダー
========================================================================== */

@keyframes calendar_date {
    100% {
        opacity: 1;
        transform: none;
    }
}

.calendar {
    height: 675px;
    width: 680px;
    @include absPosition(56px, null, null, 56px);

    &__upper {
        display: flex;
        height: 45px;
        justify-content: center;
    }

    &__tab {
        border-radius: 8px 8px 0 0;
        cursor: pointer;
        flex-basis: 300px;
        margin: 0 4px;
        max-width: 300px;
        padding: 0;
        position: relative;

        img {
            height: 18px;
            margin: 0 auto;
            transform-origin: center top;
            transition: all 0.25s;
        }

        &.-recommend {
            background-color: #0b4a6b;
        }

        &.-setting {
            background-color: #00695c;
        }

        &.-active {
            z-index: $zLayer2;

            img {
                transform: scale(1.5);
            }
        }
    }

    &__cont {
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 10px rgba(#000, 0.3);
        height: 630px;
        opacity: 0;
        transition: opacity 0.25s 0.25s;
        width: 100%;
        z-index: -1;
        @include absPosition(45px, 0);

        &.-recommend {
            background-color: #0b4a6b;
        }

        &.-setting {
            background-color: #00695c;
        }

        &.-active {
            opacity: 1;
            transition-delay: 0s;
            z-index: $zLayer1;
        }
    }

    &__ttl {
        color: #facea5;
        line-height: 34px;
        margin-top: 25px;
        text-align: center;
        @include fontsize(24);

        span {
            display: inline-block;
            padding: 0 20px;
            position: relative;

            &:before,
            &:after {
                content: url(#{$fileDir}common/bg_bracket.png);
                font-size: 0;
            }

            &:before {
                @include absPosition(0, 0);
            }

            &:after {
                @include absPosition(0, null, null, 0);
                transform: scaleX(-1);
            }
        }

        img {
            @include absPosition(null, null, 0, -154px);
        }
    }

    &__table {
        align-content: flex-end;
        background: url(#{$fileDir}common/bg_calendar.png) no-repeat;
        display: flex;
        flex-wrap: wrap;
        height: 457px;
        justify-content: space-between;
        margin: 20px auto 0;
        position: relative;
        width: 620px;
    }

    &__empty,
    &__date {
        flex-basis: calc((100% - 12px) / 7);
        font-weight: bold;
        height: calc((100% - 27px) / 6);
        margin-top: 2px;
        max-width: calc((100% - 12px) / 7);
        padding: 0;
        position: relative;

        &:before {
            background-color: #fff;
            content: '';
            height: 100%;
            transition: background-color 0.5s;
            width: 100%;
            z-index: -1;
            @include absPosition(0, 0);

            .-duration & {
                transition-duration: 2.5s;
            }
        }

        &.-fireworks:before {
            background-color: #002339;
        }

        &.-active {
            > * {
                animation: calendar_date 0.5s forwards;
            }

            &:before {
                background-color: #facea5;
            }
        }

        &.-disable,
        .-recommend & {
            pointer-events: none;
        }
    }

    &__date {
        cursor: pointer;
    }

    &__ico {
        background: url(#{$fileDir}common/bg_circle.png) no-repeat center / contain;
        color: #0057a1;
        display: inline-block;
        font-family: urw-din-condensed, sans-serif;
        font-style: normal;
        height: 50px;
        line-height: 1;
        opacity: 0;
        padding-top: 0.7em;
        transform: rotate(-360deg) scale(6);
        width: 50px;
        @include fontsize(12);

        span {
            display: block;
            font-family: gill-sans-nova, sans-serif;
            margin-top: -0.2em;
            @include fontsize(26);
        }
    }

    &__speech {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 4px rgba(#000, 0.4);
        line-height: 16px;
        opacity: 0;
        padding: 8px 10px;
        text-align: left;
        transform: translateY(-5px);
        white-space: nowrap;
        @include absPosition(null, 20px, calc(100% - 5px));
        @include fontsize(12);

        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            content: '';
            transform: translateX(-50%);
            @include absPosition(null, 50%, -5px);
        }
    }

    &__lower {
        display: flex;
        justify-content: center;
    }

    &__back,
    &__decision {
        border-radius: 9999px;
        cursor: pointer;
        height: 44px;
        margin: 20px 5px 0;
        padding: 0;
        transition: opacity 0.25s;
        width: 200px;

        img {
            margin: auto;
        }
    }

    &__back {
        border: 1px solid #fff;
        pointer-events: none;
        opacity: 0.3;

        &.-active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__decision {
        background-color: #e53935;
        box-shadow: 0 5px #9c1818;
        opacity: 0.3;
        pointer-events: none;

        &.-active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
