/* ==========================================================================
    サマーキャンプ 共通 ガイド
========================================================================== */

.guide {
    background-color: rgba(#002339, 0.9);
    color: #fff;
    line-height: 35px;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.75);
    transition: all 0.5s;
    z-index: -1;
    @include absPosition(50%, 50%);
    @include fontsize(17);

    a {
        color: #ffff90;
        display: inline-block;
        text-decoration: underline;
    }

    &__txt {
        a:after {
            border-right: 1px solid #ffff90;
            border-top: 1px solid #ffff90;
            content: '';
            display: inline-block;
            margin-left: 0.2em;
            padding: 3.5px;
            transform: translateY(-0.1em) rotate(45deg);
            vertical-align: middle;
        }

        &.-calendar {
            margin-top: 44px;

            a {
                background: url(#{$fileDir}common/ico_calendar.png) no-repeat left center;
                padding-left: 35px;
            }
        }
    }

    &__ico img {
        margin: 20px auto 0;
    }

    &__img {
        transform: translate(-50%, -50%);
        width: 420px;
        @include absPosition(50%, 50%);
    }

    &__close {
        background: url(#{$fileDir}common/ico_close.png) no-repeat left top / contain;
        cursor: pointer;

        .-tap & {
            padding: 17px;
            @include absPosition(20px, null, null, 20px);
        }

        .-calendar &,
        .-answer & {
            padding: 24px;
            @include absPosition(30px, null, null, 30px);
        }
    }

    &.-tap {
        height: 290px;
        padding-top: 80px;
        width: 410px;
    }

    &.-calendar {
        height: 380px;
        padding-top: 115px;
        width: 600px;
    }

    &.-answer {
        height: 580px;
        padding-top: 80px;
        width: 950px;
    }

    &.-active {
        opacity: 1;
        transform: translate(-50%, -50%);
        z-index: $zLayer1;
    }
}
