@charset "UTF-8";

//Adobeフォントの読み込み
@import url(https://use.typekit.net/isp4nal.css);

//mixin and variales
@import "./foundation/mixin/**";
@import "./foundation/variables/**";

//foundation Layer
@import "./foundation/lib/**";
@import "./foundation/base/**";

//layout Layer
@import "./layout/**";

//object Layer
@import "./object/**";

//page Layer
@import "./page/**";

//コメントプレビューなどに必要
.preview *, .preview #comments-open-footer input[type="button"], .preview #comments-open-footer input[type="submit"] { margin:0; padding:0; }
.preview { width:672px; margin:0 auto; background:#FFFCD6; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; padding:20px; border: 6px solid #f2dc91;}
.preview .preview_innner { width:400px; margin:0 auto; }
.preview h1 { text-align:center; }
.preview .comments-open textarea { width: 100%; max-width:400px; font-size: 14px; color:#333333; border: 2px solid #f2dc91; padding:10px; }
.preview .comments-open #comments-open-data input { width: auto; font-size: 14px; color:#333333; height:2.5em; border: 2px solid #f2dc91;padding:3px;  }
.preview .comments-open-content { width: 400px; margin:0 auto; }
.preview .comment-greeting { width: auto; list-style-type: none; color: #FF0004; font-size: 12px; text-align: justify; line-height: 1.5; }
.preview #comments-open-footer { text-align:right; }
.preview #comments-form{ margin-top:20px; }
.preview #comment-submit { border: 0px; width: 100px; height: 30px; background: url(#{$rootDir}assets/img/common/ui/comment_toukou.gif) left top no-repeat; margin-bottom:20px; }
.preview #comment-cancel { border: 0px; width: 100px; height: 30px; background: url(#{$rootDir}assets/img/common/ui/comment_cancel.gif) left top no-repeat; margin-bottom:20px; }
.preview #comment-text { margin-top: 10px; }
.preview #page-title { font-size: 24px; font-weight: bold; }

.preview.finish { text-align:center; }
.preview.finish #comments-open-footer { text-align: center; }
.preview.finish #comment-cancel { border: 0px; width: 168px; height: 30px; background: url(#{$rootDir}assets/img/common/ui/comment_top.gif) left top no-repeat; margin-bottom:20px; }
