*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
.idea

/build/node_modules/
/html/*
!/html/chu5/
!/html/mt
/html/mt/*
!/html/mt/themes
/html/mt/themes/*
!/html/mt/themes/rainier
