/* ==========================================================================
    サマーキャンプ 下層ページ 左側
========================================================================== */

.lower__left {
    flex-basis: 450px;
    max-width: 450px;
    padding: 30px 15px 0;
    position: relative;

    &__btn {
        background-color: #0091db;
        border-radius: 9999px;
        box-shadow: 0 4px #0b4a6b;
        color: #fff;
        cursor: pointer;
        display: block;
        font-weight: bold;
        height: 37px;
        margin: 10px auto 0;
        padding: 0;
        width: 160px;
        @include fontsize(18);

        &:after {
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            content: '';
            display: inline-block;
            margin-left: 0.2em;
            padding: 2px;
            transform: translateY(-0.1em) rotate(45deg);
            vertical-align: middle;
        }
    }
}
