<section class="howto">

    <h5 class="howto__ttl">
        <img src="<%= img %>top/m-initial/ttl_howto.png" alt="10日間夏期講習《チャレ友 SUMMER CAMP》とは">
    </h5>

    <p class="howto__txt">
        <img src="<%= img %>top/m-initial/txt_howto.svg" alt="夏期講習をキミが楽しくやりきれるように、応援するサイトだよ！">
    </p>

    <div class="howto__ph">
        <img src="<%= img %>top/m-initial/ph_howto.png" alt="ここをタップしてその日のやることをチェック。提案どおりに進められれば、総復習は予定どおり完成するよ。未来の日付や、前の回を確認していない場合はタップできないよ。 夏のオンラインライブ授業＋動画の予定が一目でわかるよ！キミの予定に合わせて参加しよう。 その日の学習に取り組む際のアドバイスが見られるよ。 ノブさんの1分間集中力UPチャレンジ！　勉強を取り組む前に謎解きやゲームに挑戦！　集中力をアップしよう！">
    </div>

</section><!-- /.howto -->