<div id="counter" class="counter" data-cmtid="20000001">
    <dl class="counter__display">
        <dt>
            <strong data-txt="DAY1">DAY1</strong><span data-txt="の取り組み人数">の取り組み人数</span>
        </dt>
        <dd>
            <span>0</span><span>0</span><span>0</span><span>0</span><span>0</span>
        </dd>
    </dl>
    <p class="counter__btn">
        <a href="https://d.benesse.ne.jp/zemi/top">
            <img src="<%= img %>lower/btn_ai-navi.svg" alt="AI NAVI レッスンへGO！">
        </a>
        <span>※タップすると、ホーム画面に戻るよ。</span>
    </p>
</div><!-- /.counter -->