<section class="header">
    <h1 class="header__ttl">
        <img src="<%= img %>lower/ttl_ai-navi.png" alt="AI Navi でレッスン｜オンラインライブの授業・動画を見る">
    </h1>
    <p class="header__day">
        <img src="<%= img %>common/ico_day1.svg" alt="DAY1">
    </p>
    <p class="header__date">
        <strong data-txt="7">7</strong>月<strong data-txt="21">21</strong>日 はこれをやろう!
    </p>
    <p class="header__close">
        <a href="./index.html">とじる</a>
    </p>
</section><!-- /.header -->