<div id="scale" class="m-scale">

    <p class="m-scale__ph">
        <img src="<%= img %>lower/up/ph1.png" alt="">
    </p>

    <button class="m-scale__close js-modal__close">とじる</button>

</div><!-- /.m-scale -->