<div class="nobu">

    <div class="nobu__ph">
        <img src="<%= img %>lower/<%= data.color %>/ph_nobu.png" alt="">
    </div>

    <div class="nobu__txt">
        <p><%- data.nobu_txt %></p>
    </div>

</div><!-- /.nobu -->