<section class="up">
    <h2 class="up__ttl">
        <img src="<%= img %>lower/blue/ttl_up.svg" alt="ノブさんの1分間集中力UPチャレンジ！">
    </h2>
    <p class="up__txt">テントに立てる旗をちょっと<span data-ruby="まちが">間違</span>えて作ってしまったんだ。<strong>6個の間違い</strong>があるんだけど、わかるかな？</p>
    <div class="up__ph">
        <p>
            <img src="<%= img %>lower/up/ph_01.png" alt="">
        </p>
        <button>
            <img src="<%= img %>lower/blue/ico_scale.svg" alt="">
        </button>
    </div>
    <button class="up__answer">
        <img src="<%= img %>lower/blue/btn_answer.svg" alt="答え合わせ！">
    </button>
</section><!-- /.up -->