@use "global"as *;

.footer {
    @include absPosition($left: 34px, $bottom: 0);
    background: url(#{$img}top/footer/bg_footer.svg) no-repeat;
    display: flex;
    filter: drop-shadow(0 0 4px rgba(#000, 0.2));
    height: 195px;
    padding-left: 67px;
    width: 944px;

    &:before {
        @include absPosition($left: -34px, $bottom: 0);
        content: url(#{$img}top/footer/ph_woman.png);
        font-size: 0;
    }
}

.footer__ttl {
    @include absPosition(-24px, 0);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        @include fontsize(14);
        background-color: #ff0;
        border: 4px solid #679112;
        border-radius: 100vh;
        color: #679112;
        font-weight: 900;
        height: calc(36px - 0.1em);
        margin-top: 10px;
        padding-bottom: 0.2em;
        position: relative;
        width: 126px;

        &:after {
            @include absPosition($top: 50%, $right: 10px);
            border-right: 2px solid #679112;
            border-top: 2px solid #679112;
            content: '';
            height: 8px;
            transform: translateY(-50%) rotate(45deg);
            width: 8px;
        }
    }
}

.footer__mov {
    align-self: flex-end;
    margin: 0 26px 52px 12px;
    width: 145px;

    dd {
        margin: 10px 0 0;
    }

    a {
        @include fontsize(15);
        align-items: center;
        background-color: #f27e11;
        border: 3px solid #fff;
        border-radius: 100vh;
        color: #fff;
        display: flex;
        font-weight: 900;
        height: 60px;
        justify-content: center;
        line-height: 1.4;
        position: relative;
        text-align: center;

        &::first-line {
            @include fontsize(17);
        }

        &:after {
            @include absPosition($top: 50%, $right: 10px);
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            content: '';
            height: 8px;
            transform: translateY(-50%) rotate(45deg);
            width: 8px;
        }
    }
}

.footer__event {
    align-items: flex-end;
    display: flex;
    margin: 0 0 52px;
    position: relative;

    dt {
        @include absPosition($left: 50%, $bottom: -50px);
        transform: translateX(-50%);

        img {
            max-width: none;
        }
    }

    dd {
        margin: 0;

        +dd {
            margin-left: 4px;
        }
    }
}