@use "global" as *;

.slider {
    height: 100%;
    position: relative;
    width: calc(100% - 260px);
}

.slider__bird {
    @include absPosition(30px, 310px);
    animation: slider__bird1 2s infinite;
    pointer-events: none;
    z-index: 1;

    @keyframes slider__bird1 {
        50% {
            transform: translateY(10px);
        }
    }

    &:before {
        animation: slider__bird2 0.075s steps(4) infinite alternate;
        background: url(#{$img}top/slider/ph_bird.png) no-repeat;
        content: "";
        display: block;
        filter: drop-shadow(0 0 5px rgba(#000, 0.2));
        height: 34px;
        overflow: hidden;
        width: 90px;

        @keyframes slider__bird2 {
            100% {
                background-position-x: -360px;
            }
        }
    }

    &.-left:before {
        margin: 0 0 -40px 84px;
    }

    &.-right:before {
        margin: 0 0 -40px 64px;
        transform: scaleX(-1);
    }
}

.slider__inner {
    background: url(#{$img}top/slider/bg_slider.png) no-repeat;
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 0 150px 75px;
    width: 3684px;
}

.slider__day {
    flex-shrink: 0;
    margin-left: 45px;
    pointer-events: none;
    position: relative;
    width: 234px;

    a {
        background-color: #e1e1e1;
        border: 4px solid #fff;
        border-radius: 100vh;
        display: block;
        filter: drop-shadow(0 0 10px rgba(#000, 0.3));
        line-height: calc(50px - 0.1em);
        opacity: 0;
        padding: 0 0 0.1em 60px;
        position: relative;
        transform: scale(0.8);

        &:after {
            @include absPosition($top: 50%, $right: 18px);
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            content: "";
            height: 10px;
            transform: translateY(-50%) rotate(45deg);
            width: 10px;
        }
    }

    span {
        @include absPosition(50%, 0);
        transform: translate(-50%, -50%);
        width: 96px;

        &:after {
            @include absPosition($left: 2px, $bottom: -15px);
            content: url(#{$img}top/slider/txt_special.svg);
            display: none;
            line-height: 0;
            width: 100px;
        }
    }

    time {
        @include fontsize(19);
        color: #fff;
        display: block;
        font-weight: 900;
    }

    em {
        @include fontsize(30);
        font-style: normal;
        vertical-align: top;
    }

    &:before {
        @include absPosition(100%, 80px);
        border-left: 3px dotted #fff;
        content: "";
        transform: scaleY(0);
        transform-origin: bottom;
    }

    &[data-day="1"] {
        span:after {
            display: block;
        }

        &:before {
            height: 60px;
        }
    }

    &[data-day="2"]:before {
        height: 140px;
    }

    &[data-day="3"]:before,
    &[data-day="10"]:before {
        height: 100px;
    }

    &[data-day="3"] span:after {
        display: block;
    }

    &[data-day="4"]:before {
        height: 80px;
    }

    &[data-day="5"]:before,
    &[data-day="7"]:before {
        height: 40px;
    }

    &[data-day="6"] {
        span:after {
            display: block;
        }

        &:before {
            height: 90px;
        }
    }

    &[data-day="8"]:before {
        height: 120px;
    }

    &[data-day="9"]:before {
        height: 70px;
    }

    &:nth-child(2n) {
        margin-bottom: 150px;
    }

    @for $i from 1 through 10 {
        img {
            opacity: 0;
        }

        &[data-day="#{$i}"] span {
            background: url(#{$img}common/ico_day#{$i}_cs.svg) no-repeat;
        }
    }

    &.-active {
        pointer-events: auto;

        a {
            background-color: #f27e11;
        }

        span {
            background: none;
        }

        img {
            opacity: 1;
        }
    }

    &.-done {
        span:before {
            @include absPosition(-6px, -6px);
            content: url(#{$img}top/slider/ico_done.svg);
            line-height: 0;
            width: 38px;
        }

        img {
            opacity: 0;
        }

        @for $i from 1 through 10 {
            &[data-day="#{$i}"] span {
                background: url(#{$img}common/ico_day#{$i}_done.svg) no-repeat;
            }
        }
    }

    @for $i from 1 through 10 {
        &[data-day="#{$i}"] {
            a {
                transition: 0.4s #{$i * 0.2 + 1.4}s;
            }

            &:before {
                transition: 0.4s #{$i * 0.2 + 1}s;
            }
        }
    }

    .-show & {
        a {
            opacity: 1;
            transform: none;
        }

        &:before {
            transform: none;
        }
    }
}

.slider__complete {
    @include fontsize(16);
    background-color: #e1e1e1;
    border: 3px solid #fff;
    border-radius: 100vh;
    color: #fff;
    filter: drop-shadow(0 0 10px rgba(#000, 0.3));
    font-weight: bold;
    line-height: calc(30px - 0.1em);
    margin: 0 0 355px 0;
    padding: 0 0 0.1em 40px;
    text-align: left;
    width: 195px;
    transform: translate(-90px, 0);
    pointer-events: none;

    &.-active {
        pointer-events: auto;
        background-color: #f27e11;
    }

    img {
        @include absPosition(50%, 0);
        transform: translate(-50%, -50%);
        width: 70px;
    }

    &:before {
        @include absPosition(0, -90px);
        border-left: 5px dotted #fff;
        border-top: 5px dotted #fff;
        border-top-left-radius: 100%;
        content: "";
        height: 70px;
        width: 70px;
        z-index: -1;
    }

    &:after {
        @include absPosition($top: 50%, $right: 10px);
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        content: "";
        height: 6px;
        transform: translateY(-50%) rotate(45deg);
        width: 6px;
    }
}

.slider__marktest {
    margin: -100px 0 0 -130px;
    width: 300px;

    a {
        border-radius: 100vh;
        box-shadow: 0 0 10px rgba(#000, 0.3);
        display: block;
    }
}

.slider__news {
    margin: 0 0 0 40px;
    width: 270px;

    dt img {
        margin: auto;
    }

    dd {
        @include fontsize(12);
        background-color: #ffff90;
        border-radius: 6px;
        font-weight: bold;
        line-height: 1.4;
        margin: 0;
        padding: 5px 10px;
        position: relative;

        &:after {
            @include absPosition($bottom: -10px, $right: -45px);
            content: url(#{$img}top/slider/ph_risu.png);
            font-size: 0;
        }
    }

    strong {
        color: #c12828;
        font-weight: 900;
    }
}

.slider__arrow {
    @include absPosition($top: 50%);
    background-color: rgba(#fff, 0.75);
    border-radius: 50%;
    font-size: 0;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s;
    width: 50px;

    &:before {
        border-right: 3px solid #0091db;
        border-top: 3px solid #0091db;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 8px;
        transform: rotate(45deg);
        width: 15px;
    }

    &.-prev {
        left: 20px;
        transform: scaleX(-1);
    }

    &.-next {
        right: 20px;
    }

    &.-active {
        opacity: 1;
        pointer-events: auto;
    }
}
