/* ==========================================================================
	comment
========================================================================== */

.c-scroll-wrap {
    overflow-y: scroll;
}

// ========================= コメント =========================
.c-comment {
    @include absPosition(16px, null, null, 30px);
    width: 220px;
}

.c-comment_btn__input {
    margin-top: 5px;
}

.c-comment_list__others {
    height: 530px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 5px 0;
}

.c-comment_list__caution {
    color: #fff;
    text-decoration: underline;
    @include fontsize(13);
}

// 詳細
.c-comment_detail {
    border-bottom: 1px solid #ddd;
    line-height: 1.46;
    margin: 0 10px;
    padding: 10px 0;
    word-break: break-all;
    @include fontsize(13);

    img {
        display: none;
    }

    .name {
        color: #f05a24;
        font-weight: bold;
    }

    .date {
        color: #003f97;
        font-weight: bold;
    }

    &.entry-author-comment {
        color: #f05a24;
    }
}

// フォーム
.c-comment_form {

    &__item {
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        font-weight: bold;
        margin-right: 20px;
    }

    input {
        box-sizing: border-box;
        width: 300px;
        line-height: 1;
        border: 2px solid #24257A;
        background: rgba(255, 255, 255, 0.5);
        padding: 12px 20px;
        @include fontsize(18);
    }

    textarea {
        box-sizing: border-box;
        width: 640px;
        border: 2px solid #24257A;
        background: rgba(255, 255, 255, 0.5);
        padding: 12px 20px;
        @include fontsize(18);
    }

    &__note {
        margin-top: 5px;
        @include fontsize(12);

        strong {
            color: #D5320B;
            font-weight: bold;
            @include fontsize(16);
        }
    }

    // 投稿ボタン
    .form-submit {
        width: 233px;
        margin: 40px auto 0;
    }

    .is-submit {
        width: 233px;
        height: 73px;
        background: url(#{$fileDir}/common/comment/form_submit.png) no-repeat top center;
        border: 0;
    }
}

// ========================= ユーザーコメント =========================
.c-user_comment {
    margin-top: 20px;

    &_btn {
        margin-top: 14px;

        &__input {
            display: block;
        }
    }

    &_list {
        margin-top: 20px;
        overflow: hidden;

        &__ttl {
            background-color: #0057a1;
            border-radius: 6px 6px 0 0;
            color: #fff;
            font-weight: bold;
            line-height: 28px;
            margin: 0;
            text-align: center;
            @include fontsize(13);
        }

        &__others {
            background-color: #fff;
            border-radius: 0 0 6px 6px;
            height: 440px;
        }

        &__caution {
            color: #fff;
            display: block;
            margin-top: 6px;
            text-decoration: underline;
            @include fontsize(13);
        }
    }
}


// =========================　編集室コメント　=========================
.c-admin_comment {
    &_ttl {
        background: #0057a1;
        border-radius: 6px 6px 0 0;
        color: #fff;
        font-weight: bold;
        line-height: 28px;
        margin: 0;
        text-align: center;
        @include fontsize(13);
    }

    &_list {
        background-color: #fff;
        border-radius: 0 0 6px 6px;
        color: #f15a24;
        height: 97px;
        overflow-y: scroll;
        padding: 0;
        @include fontsize(13);
    }
}
