@use "global"as *;

.l-main {
    color: #000;
    font-family: YakuHanJP_Noto, 'Noto Sans JP', Sans-Serif;
    height: 731px;
    line-height: 1.6;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1280px;
    word-break: normal;
    word-wrap: break-word;

    &:after {
        @include absPosition(0, 0);
        background-color: #fff;
        content: '';
        height: 100%;
        transition: 0.5s 0.5s;
        width: 100%;
        z-index: $zLayer6;
    }

    &.-show:after {
        opacity: 0;
        pointer-events: none;
    }
}