@use "global"as *;

.c-talkroom {
    background-color: rgba(#fff, 0.6);
    box-shadow: 0 0 16px rgba(#000, 0.3);
}

.c-talkroom__ttl {
    background-color: #0089cf;
    border-radius: 6px 6px 0 0;
    line-height: 28px;
    margin: 0;
    text-align: center;
}

.c-talkroom__body {
    background-color: rgba(#b4d2fa, 0.8);
    border-radius: 0 0 6px 6px;
    height: 440px;

    &.-editor {
        background-color: rgba(#fff, 0.8);
        height: 100px;
    }
}

.c-talkroom__list__item {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &+& {
        margin-top: 10px;
    }

    &.-editor {
        padding: 0;

        &+& {
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }

        .c-talkroom__list__item__icon {
            display: none;
        }

        .c-talkroom__list__item__body {
            color: #eb5a24;
            font-weight: 500;
        }

        .c-talkroom__list__item__author,
        .c-talkroom__list__item__date {
            margin-top: 15px;
        }
    }
}

.c-talkroom__list__item__ttl {
    display: none;
}

.js-talkroom__user__list {
    .c-talkroom__list__item {
        background-color: #fff;
        border-radius: 10px;
        margin-left: 40px;
        padding: 10px;
        position: relative;

        &:before {
            @include absPosition(10px, -8px);
            border-top: 8px solid #fff;
            border-left: 8px solid transparent;
            content: '';
        }

        &:nth-child(even) {
            background-color: #ffffcd;
        }
    }

    .c-talkroom__list__item__icon {
        @include absPosition(0, -40px);
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
}

.c-talkroom__list__item__body {
    width: 100%;
}

.c-talkroom__list__item__author,
.c-talkroom__list__item__date {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.c-talkroom__pagenate {
    margin-top: 10px;
}

.c-talkroom__submit {
    margin: 20px 0 5px;

    &:before,
    &:after {
        display: none;
    }
}

.c-talkroom__notice {
    color: #949494;
}