<section class="header">

    <h1 class="header__logo">
        <img src="<%= img %>top/header/logo.png" alt="10日間夏期講習《チャレ友 SUMMER CAMP》">
    </h1>

    <ul class="header__nav">
        <li>
            <button class="js-modal__open" data-id="modal" data-scene="schedule">
                <img src="<%= img %>top/header/ico_calendar.svg" alt="">カレンダーを設定する
            </button>
        </li>
        <li>
            <button class="js-modal__open" data-id="modal" data-scene="howto">
                <img src="<%= img %>top/header/ico_question.svg" alt="">SUMMER CAMPとは？
            </button>
        </li>
        <li>
            <a href="https://chuak.benesse.ne.jp/redirect/minben/chu.html">
                <img src="<%= img %>top/header/ico_book.svg" alt="">みんなで勉強
            </a>
        </li>
    </ul>

</section><!-- /.header -->