<div id="initial" class="m-initial" data-scene="schedule">

    <div class="m-initial__inner">

        <%- include('./m-initial/_schedule') %>
        <%- include('./m-initial/_howto') %>

    </div>

    <button class="m-initial__close js-modal__close">とじる</button>

</div><!-- /.m-initial -->