<div class="m-modal js-modal" data-scene="schedule">

    <div class="m-modal__inner">

        <%- include('./m-modal/_schedule') %>
        <%- include('./m-modal/_howto') %>

    </div>

    <button class="m-modal__close js-modal__close">とじる</button>

</div><!-- /.m-modal -->