<section class="m-online js-modal">

    <h5 class="m-online__ttl">
        <img src="<%= img %>top/m-online/ttl_online.png" alt="夏のオンラインライブ授業＋動画">
    </h5>

    <p class="m-online__txt">
        <img src="<%= img %>top/m-online/txt_online.png" alt="EVENT1 5教科要点復習クラス EVENT2 思考力UPクラス">
    </p>

    <p class="m-online__detail">
        <a href="https://library.benesse.ne.jp/keijiban_member/chu.shtml?id=camp_2208_campaign">
            <img src="<%= img %>top/m-online/btn_detail.svg" alt="詳しくはコチラ！">
        </a>
    </p>

    <p class="m-online__join">
        <a href="https://chu.benesse.ne.jp/member/online/#/">
            <img src="<%= img %>top/m-online/btn_join.svg" alt="授業に参加・視聴する！">
        </a>
    </p>

    <button class="m-online__close js-modal__close">とじる</button>

</section><!-- /.m-online -->