<section class="shuryosho">
    <div class="shuryosho__light"></div>
    <div class="shuryosho__ffwrap">
        <div class="shuryosho__ff -t2 -ff1"></div>
        <div class="shuryosho__ff -t1 -ff2"></div>
        <div class="shuryosho__ff -t3 -ff3"></div>
        <div class="shuryosho__ff -t2 -ff4"></div>
        <div class="shuryosho__ff -t1 -ff5"></div>
        <div class="shuryosho__ff -t3 -ff6"></div>
        <div class="shuryosho__ff -t2 -ff7"></div>
        <div class="shuryosho__ff -t3 -ff8"></div>
    </div>

    <div class="shuryosho__conf"></div>
    <div class="shuryosho__main"></div>
    <div class="shuryosho__ch"></div>

    <button class="shuryosho__close"></button>
</section>
