<section id="welcome" class="m-welcome">

    <div class="m-welcome__cont">
        <p class="m-welcome__txt">
            <img src="<%= img %>top/m-welcome/txt_1min.png" alt="毎日 1分間集中力UPチャレンジ！付き">
        </p>
        <h4 class="m-welcome__ttl">
            <img src="<%= img %>top/m-welcome/ttl_welcome.png" alt="10日間夏期講習《チャレ友 SUMMER CAMP》">
        </h4>
        <button class="js-modal__close">日程を登録しよう！</button>
    </div>

    <div class="m-welcome__nobu">
        <img src="<%= img %>top/m-welcome/ph_nobu.png" alt="">
    </div>

    <div class="m-welcome__name">
        <p class="m-welcome__name__role"><img src="<%= img %>top/m-welcome/txt_role.svg" alt="中学学習・生活応援 担当"></p>

        <p class="m-welcome__name__txt">ノブさん（<span data-ruby="なか">中</span><span data-ruby="た">田</span><span data-ruby="のぶ">展</span><span data-ruby="お">生</span>）</p>
    </div>
    

</section><!-- /.m-welcome -->