<section class="m-welcome js-modal">

    <div class="m-welcome__cont">
        <h4>
            <img src="<%= img %>top/m-welcome/ttl_welcome.png" alt="10日間夏期講習《チャレ友 SUMMER CAMP》">
        </h4>
        <button class="js-modal__close">日程を登録しよう！</button>
    </div>

    <div class="m-welcome__nobu">
        <img src="<%= img %>top/m-welcome/ph_nobu.png" alt="">
    </div>

    <p class="m-welcome__name">ノブさん（<span data-ruby="なかたのぶお"></span>中田展生</span>）</p>

</section><!-- /.m-welcome -->