<aside class="c-talkroom js-talkroom" data-talkroomid="camp_2208_comment">

    <h3 class="c-talkroom__ttl -editor">編集室より</h3>
    <div class="c-talkroom__body -editor js-talkroom__editor">
        <ul class="c-talkroom__list js-talkroom__editor__list"></ul>
    </div>

    <h3 class="c-talkroom__ttl">みんなのコメント</h3>
    <div class="c-talkroom__body js-talkroom__user">
        <ul class="c-talkroom__list js-talkroom__user__list"></ul>
    </div>

    <a class="c-talkroom__submit js-talkroom__submit__touch" href="https://library.benesse.ne.jp/keijiban_member/chu_01.shtml?id=camp_2208_comment" target="_blank">
        <img src="<%= img %>top/talkroom/btn_comment.svg" alt="コメントを投稿する">
    </a>

    <a class="c-talkroom__notice" href="https://townak.benesse.ne.jp/rel/A/sp_6/open/special/promise/" target="_blank">※コメント投稿について</a>

</aside><!-- /.c-talkroom -->