<div class="counter">
    <dl class="counter__display">
        <dt><strong>DAY1</strong>の取り組み人数</dt>
        <dd>
            <span>0</span><span>0</span><span>0</span><span>0</span><span>0</span>人
        </dd>
    </dl>
    <p class="coutner__btn">
        <a href="#">
            <img src="<%= img %>lower/btn_ai-navi.svg" alt="AI NAVI レッスンへGO！">
        </a>
        <span>※タップすると、ホーム画面に戻るよ。</span>
    </p>
</div><!-- /.counter -->