<div class="nobu">
    <div class="nobu__ph">
        <img src="<%= img %>lower/blue/ph_nobu.png" alt="">
    </div>
    <p class="nobu__txt">AI Naviでは、キミの学習データや使える時間などをもとに、<br>
        AIが<strong>キミ専用のカリキュラム</strong>を<br>
        作ってくれるよ。<br>
        いっしょに<span data-ruby="がんば">頑張</span>ろう！</p>
</div><!-- /.nobu -->