/* ==========================================================================
	CONTENT
========================================================================== */

.l-content {
    height: 100%;
    min-height: 731px;
    min-width: 1280px;
    position: relative;
    width: 100%;

    &__bg {
        background: no-repeat top center;
        background-size: cover;
        height: 100%;
        width: 100%;
        @include fxdPosition(0, 0);
    }

    &__inner {
        height: 731px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 1280px;

        &:after {
            background: #fff url(#{$fileDir}common/ico_loading.gif) no-repeat center;
            content: '';
            height: 100%;
            opacity: 0;
            transition: all 0.5s;
            width: 100%;
            z-index: -1;
            @include absPosition(0, 0);
        }

        &.-loading:after {
            opacity: 1;
            z-index: $zLayer6;
        }
    }
}
