/* ==========================================================================
	MAIN
========================================================================== */

.l-main{
  float: right;
  box-sizing: border-box;
  width: 1170px;
  padding-top: 20px;
}

