/* ==========================================================================
    サマーキャンプ 共通 HOW TO
========================================================================== */

.howto {
    flex-basis: 1280px;
    max-height: 1280px;

    &__txt {
        margin: 40px auto 0;
        width: 1207px;
    }
}
