/* ==========================================================================
    サマーキャンプ 共通 スケジュール
========================================================================== */

.schedule {
    flex-basis: 1280px;
    max-height: 1280px;
    position: relative;

    &__txt {
        z-index: $zLayer2;
        @include absPosition(null, 56px, 0);
    }
}
