/* ==========================================================================
    サマーキャンプ 共通 Uliza
========================================================================== */

.uliza {
    background-color: rgba(#002339, 0.9);
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    width: 100%;
    z-index: -1;
    @include absPosition(0, 0);

    iframe {
        border: none;
        height: 440px;
        margin: auto;
        width: 782px;
        @include absPosition(0, 0, 0, 0);
    }

    &__close {
        background: url(#{$fileDir}common/ico_close.png) no-repeat left top / contain;
        cursor: pointer;
        padding: 24px;
        @include absPosition(30px, null, null, 30px);
    }

    &.-active {
        opacity: 1;
        z-index: $zLayer5;
    }
}
